name: CI

on:
  push:
    branches:
      - main
      - test
  pull_request:
    branches:
      - main
      - test

permissions:
  contents: read
  issues: read
  pull-requests: read

jobs:
  test:
    name: Test puppeteer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.0

      - name: Test action
        uses: tj-actions/puppeteer@v5
        id: puppeteer
        with:
          files: tests/test.js
          # The test generates a test.pdf file in the home directory the steps below are used to verify the contents of the pdf file.
          # Send exit(1) to fail

#      - name: Copy test output
#        uses: tj-actions/docker-cp@v2
#        with:
#          container: ${{ steps.puppeteer.outputs.container-id }}
#          source: ${{ steps.puppeteer.outputs.home }}/test.pdf  # <-- Replace this input if copied or Remove this step
#          destination: test.pdf  # <-- Replace this input if copied or Remove this step
#
#      - name: Display contents of test.pdf  # <-- Replace this file name if copied or Remove this step
#        run: cat test.pdf  # <-- Replace this file name if copied or Remove this step
